body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0A0E13;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DB954; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1DB954; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media all and (max-width: 777px){
  .navitem {
    display: none;
  }
  .newsimg {
    width: 300px !important;
  }
  .newsimg-div{
      height: 150px !important; width: 300px !important;
  }
  .newsimg-styles {
      width: 300px !important;   
      height: 150px !important;
  }
  .news-txt {
    font-size: 14px !important;
  }
}
