@font-face {
  src: url("./fonts/HelveticaNeueLTGEO-Medium.a2425724.woff2");
  font-family: HelveticaNeue-Medium;
}

@font-face {
  src: url("./fonts/HelveticaNeueLTGEO-Regular.3c542304\ \(1\).woff2");
  font-family: HelveticaNeue-Regular;
}

@font-face {
  src: url("./fonts/HelveticaNeueLTGEO-Bold.719611bc.woff2");
  font-family: HelveticaNeue-Bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0a0e13;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1db954;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1db954;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  /* background: url("./fonts/bg1.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media all and (max-width: 777px) {
  .navitem {
    display: none;
  }
  .newsimg {
    width: 300px !important;
  }
  .newsimg-div {
    height: 150px !important;
    width: 300px !important;
  }
  .newsimg-styles {
    width: 300px !important;
    height: 150px !important;
  }
  .news-txt {
    font-size: 14px !important;
  }
}
